@font-face {
    font-family: GTPressura;
    src: url("assets/fonts/GT-Pressura-Mono-Light.otf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --bg-dark: rgb(37, 37, 37);
    --fc-light: rgb(224, 213, 207);
}

p,
a,
li,
h1,
h2,
h3,
div {
    color: var(--fc-light);
    font-family: GTPressura !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold !important;
}

a {
    text-decoration: none;
}

.text-minor {
    font-size: 0.85em !important;
    color: rgb(189, 179, 174) !important;
}

.arrow-right {
    transform: translateY(2px);
}

.story-body > * {
    margin: 0.3em 0;
    line-height: 1.3em;
    font-size: 1.3rem;
}

.story-preview-large {
    font-size: 1.3rem;
    line-height: 1.3em;
}

.story-preview-small {
    font-size: 1rem;
}

hr {
    border: none;
    padding: 0.5rem;
}

.drop-cap p:first-child:first-letter {
    color: #903;
    float: left;
    font-family: Georgia;
    font-size: 5em;
    line-height: 0.6em;
    padding: 0 0.1em 0.05em 0;
}

.select-item,
.text-input {
    color: var(--bg-dark) !important;
}
